
nav > ul{
    display: flex;
}
nav li
{
    list-style: none;
    margin-right: 20px;
}
nav li a
{
    text-decoration: none;
    color: blue;
    font-size: 40px;
}
nav li:hover{
    background-color: black;
}
.dropdown{
    display: none;

}
nav > ul >li:hover >ul{
    display: block;
    position: absolute;
    background-color: lightgreen;
    padding: 0;


}